<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LISTN2</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="site-name">
          <a href="/">LISTN2THIS</a>
        </div>
        <%= if logged_in?(@conn) do %>
        <nav>
          <a href="<%= user_path(@conn, :me) %>">My Profile</a>
          <a href="/logout">Logout</a>
        </nav>
        <% end %>
      </div>
    </header>

    <%= if !logged_in?(@conn) do %>
    <section class="hero signup">
      <div class="container">
        <div class="content">
          <h1>Discover New Music</h1>
          <p>Everyone loves music. Don’t you? This is a place for anyone and everyone to share new and interesting music. Inspired by my favorite reddit community <a href="http://reddit.com/r/listentothis" target="_blank">/r/listentothis</a>.</p>
        </div>
        <div class="signup">
          <a href="/auth/twitter" class="twitter"><i class="fa fa-twitter"></i> <span>Login with Twitter</span></a>
        </div>
      </div>
    </section>
    <% end %>

    <%= if get_flash(@conn, :info) do %>
      <div class="alert info"><div><%= get_flash(@conn, :info) %></div></div>
    <%= end %>

    <%= if get_flash(@conn, :error) do %>
      <div class="alert danger"><div><%= get_flash(@conn, :error) %></div></div>
    <% end %>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
