@mixin provider($background, $textcolor) {
  display: inline-block;
  color: $textcolor;
  font-size: 20px;
  width: 45px;
  height: 45px;
  background: $background;
  transition: all 200ms ease-in-out;

  i {
    display: block;
    padding: 11px;
    text-align: center;
  }

  &:hover {
    background: darken($background, 10%);
    border-radius: 100%;
  }
}

.tracks {
  @include span-columns(12);
  padding: 20px 0;
  .header {
    font-size: 30px;
    font-weight: 200;
    color: #949494;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  .track {
    @include row();
    margin-bottom: 10px;

    .info {
      background: #FFFFFF;
      padding: 10px 15px;
      line-height: 1;

      .provider {
        &.soundcloud {
          @include provider($soundcloud, #FFF);
        }
        &.youtube {
          @include provider($youtube, #FFF);
        }
        &.spotify {
          @include provider($spotify, #FFF);
        }
      }

      .name {
        display: inline-block;
        font-size: 20px;
        padding: 0 10px;
        color: #4A4A4A;
        transition: color 150ms ease-in-out;

        &:hover {
          color: lighten(#4A4A4A, 20%);
        }
      }
    }
  }
}
