@import "normalize";
@import "bourbon";
@import "neat";
@import "variables";

// Some Components
@import "components/header";
@import "components/hero";
@import "components/form";
@import "components/flash";
@import "components/track";

body {
  background: #EFEFEF;
  font-family: "Lato", sans-serif;
}

.container {
  @include outer-container(960px);
}

a {
  text-decoration: none;
}
